<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studentenraad | Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/cd8c9527e1.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="/js/index.js" defer></script>
</head>

<body>
  <header>
    <section>
      <a href="/"><img class='logo' src="/assets/images/AP_logo_staand_rgb.png" alt="AP Hogeschool logo"></a>
      <nav>
        <ul>
          <li class="active"><a href="/">Posts</a></li>
          <li><a href="/about">Feedback</a></li>
          <% if (role === 'ADMIN') { %>
          <li><a href="/admin">Admin</a></li>
          <% } %>
          <li><a href="/announcement">Announcement</a></li>
        </ul>
      </nav>
    </section>
    <section>
      <form action="/" method="get">
        <input type="text" name="search" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
      <p><%= username %></p>
      <form action="/logout" method="POST">
        <button type="submit" id="logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
      </form>
    </section>
  </header>
  <main>
    <section class="add-post-section">
      <button class="add-post-button" data-bs-toggle="modal" data-bs-target="#addPostModal"><i class="fa-solid fa-plus"></i>
        <p>Voeg een post</p>
      </button>
    </section>
    <section class="posts">
      <% posts.forEach(post => { %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.author.username %></h6>
          <p class="card-text"><%= post.message %></p>
        </div>
        <div class="card-footer">
          <p class="card-text"><%= post.created.toDateString().slice(4, 15) %></p>
          <div>
            <button>Like</button>
            <button>Dislike</button>
          </div>
        </div>
      </div>
      <% }) %>
      <% posts.forEach(post => { %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.author.username %></h6>
          <p class="card-text"><%= post.message %></p>
        </div>
        <div class="card-footer">
          <p class="card-text"><%= post.created.toDateString().slice(4, 15) %></p>
          <div>
            <button>Like</button>
            <button>Dislike</button>
          </div>
        </div>
      </div>
      <% }) %>
      <% posts.forEach(post => { %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.author.username %></h6>
          <p class="card-text"><%= post.message %></p>
        </div>
        <div class="card-footer">
          <p class="card-text"><%= post.created.toDateString().slice(4, 15) %></p>
          <div>
            <button>Like</button>
            <button>Dislike</button>
          </div>
        </div>
      </div>
      <% }) %>
      <% posts.forEach(post => { %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.author.username %></h6>
          <p class="card-text"><%= post.message %></p>
        </div>
        <div class="card-footer">
          <p class="card-text"><%= post.created.toDateString().slice(4, 15) %></p>
          <div>
            <button>Like</button>
            <button>Dislike</button>
          </div>
        </div>
      </div>
      <% }) %>
      <% posts.forEach(post => { %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.author.username %></h6>
          <p class="card-text"><%= post.message %> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla possimus aperiam officiis nobis corrupti inventore ipsum molestiae, laudantium ad dicta, quidem consequatur temporibus ut tenetur nemo. Consequuntur molestiae vitae, excepturi saepe ea modi voluptate, aliquid voluptates labore facere unde dolore non nulla. Magni repudiandae voluptates cum necessitatibus architecto in facere ullam dicta asperiores omnis repellat, dolorum earum, explicabo alias eos. </p>
        </div>
        <div class="card-footer">
          <p class="card-text"><%= post.created.toDateString().slice(4, 15) %></p>
          <div>
            <button>Like</button>
            <button>Dislike</button>
          </div>
        </div>
      </div>
      <% }) %>
  </main>

  <footer>
    <p><a href="https://www.linkedin.com/in/rizwan-hussain-768973226/" target="_blank">Rizwan Hussain</a> - <a href="https://www.linkedin.com/in/precious-ajomole-21792224a/" target="_blank">Precious Ajomole</a></p>
  </footer>

  
  <!-- Modal om een post toe te voegen -->
  <div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Voeg een post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Titel</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
              <div class="d-inline-flex seperate">
                <label for="author" class="form-label mr-2">Geschreven door:</label>
                <div>
                  <input type="checkbox" class="form-check-input" id="anonymous" name="anonymous" data-username="<%= username %>">
                  <label for="anonymous" class="form-label">Anoniem?</label>
                </div>
              </div>
              <input type="hidden" name="authorToSave" value="<%= username %>">
              <input type="text" class="form-control" id="author" name="author" readonly value="<%= username %>">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Inhoud</label>
              <textarea class="form-control" id="content" name="message" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Voeg toe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>